extends layouts/layout

block content
  .school-heading-container(style={'background-image': 'url('+ school.header_image_1 +')'})
    .school-heading
      .school-info
        //- img(src=school.logo)
        h1= school.name
      .school-links.video-link
        a(href='#myModal',data-toggle='modal', data-target='#myModal')
          img(src="/images/buttons/playvideo.png")
          // Modal
          #myModal.modal
           .modal-header
             p.button.btn.btn-primary X
           .modal-body
             iframe(width='100%', height='100%', src= school.video, frameborder='0', allowfullscreen='')
  .student-work
    !=Lightbox
  .school-overview-container(style={'background-image': 'url('+ school.header_image_2 +')'})
    img.scroll-down(src="/images/buttons/Scroll-Down.png")
    .school-logo
      img(src=school.logo)
    .school-overview
      .details-box
        h2 overview
        p=school.overview
        h3 campus location
        ul
            each loc in school.locations
              li=loc.campus
        h3 delivery
        ul
            each delivery in school.delivery
              li=delivery
    .school-fees
      .details-box
        h2 fees scholarship
        h3 price range
        ul
          each price in school.prices
            li
              =`${price.type}:`
              br
              =`AUD ${price.lower} - AUD ${price.upper}`
        h3 scholarship
        ul
          each scholarship in school.scholarships
            li=scholarship
    .school-links
        .school-link
          a(href='#' onclick="eForm('"+ school.formidsa +"')" class='btn')
            span Apply
        .school-link
          a(href='#' onclick="eForm('"+ school.formidse +"')" class='btn')
            span Enquire
        .school-link
          a(href='#'  class='btn')
            span Course Guide
  !=Courses
  .other-section
    .locations
      .other-section-box(style="background-image: url('/images/location.png')")
        h2 locations
        .hover-box
          !=CampusMaps
    .facilities
      .other-section-box(style="background-image: url('/images/facilities.png')")
        h2 facilities
        .hover-box
          !=Facilities
    .alumni
      .other-section-box(style="background-image: url('/images/alumni.png')")
        h2 alumni
        .hover-box
          !=Alumni
  .school-contact
    .website
      a(href="https://"+school.website)=school.website
    .inside-scoop
      .inside-scoop-btn
        img(src='/images/buttons/Get-the-inside-scoop.png')
      .input-email
        input(placeholder='Email')
      .subscribe-btn
        img(src='/images/buttons/subscribe.png')

        // TODO insert enquiry form; hubspot?
append stylesheets
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css")
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css")

  // if lte IE 8
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
  script.
 
    var btn = document.createElement("button");
    btn.innerHTML = '&times;';
         
     function eForm(formId){  
       hbspt.forms.create({
        portalId: '2708822',
        formId: formId,
         onFormReady: closeForm
        });
      };

     function cForm() {
      hbspt.forms.create({
      portalId: '2708822',
      formId: formId,
      onFormReady: closeForm
      });
      
    }; 


     function closeForm() {
      var form = document.getElementsByClassName("hbspt-form");
      console.log(form[0]);
      form[0].style.display = "block";
      btn.addEventListener("click", function(){
        form[0].style.display = "none";
      });
      form[0].appendChild(btn);
    };
    