extends layouts/layout

block content
  .school-heading-container(style={'background-image': 'url('+ school.facilitiesImages[0] +')'})
    .school-heading
      .school-info
        //- img(src=school.logo)
        h1= school.name
      .school-links.video-link
        img(src="/images/buttons/playvideo.png")
  .student-work
    !=Lightbox
  .school-overview-container(style={'background-image': 'url('+ school.facilitiesImages[1] +')'})
    img.scroll-down(src="/images/buttons/Scroll-Down.png")
    .school-logo
      img(src=school.logo)
    .school-overview
      .details-box
        h2 overview
        p=school.overview
        h3 campus location
        ul
            each loc in school.locations
              li=loc.campus
        h3 delivery
        ul
            each delivery in school.delivery
              li=delivery
    .school-fees
      .details-box
        h2 fees scholarship
        h3 price range
        ul
          each price in school.prices
            li
              =`${price.type}:`
              br
              =`AUD ${price.lower} - AUD ${price.upper}`
        h3 scholarship
        ul
          each scholarship in school.scholarships
            li=scholarship
    .school-links
        .school-link
          a(href='#' onclick="eForm()" class='btn')
            span Apply
        .school-link
          a(href='#' onclick="eForm()" class='btn')
            span Enquire
        .school-link
          a(href=school.website, target='_blank' class='btn')
            span Course Guide
      
  .study-areas-box
    h1 study areas
    .study-areas
      .area-box(style="background-image: url('/images/areas/area1.jpg')")
        h3 digital design
      .area-box(style="background-image: url('/images/areas/area2.jpg')")
        h3 digital design
      .area-box(style="background-image: url('/images/areas/area3.jpeg')")
        h3 digital design
      .area-box(style="background-image: url('/images/areas/area4.jpeg')")
        h3 digital design
      .area-box(style="background-image: url('/images/areas/area5.jpeg')")
        h3 digital design
      .area-box(style="background-image: url('/images/areas/area6.jpeg')")
        h3 digital design
      .area-box(style="background-image: url('/images/areas/area7.jpeg')")
        h3 digital design
      .area-box(style="background-image: url('/images/areas/area8.jpeg')")
        h3 digital design
      .area-box(style="background-image: url('/images/areas/area9.jpg')")
        h3 digital design
  !=Courses
  .other-section
    .locations
      .other-section-box(style="background-image: url('/images/location.png')")
        h2 locations
    .facilities
      .other-section-box(style="background-image: url('/images/facilities.png')")
        h2 facilities
    .alumni
      .other-section-box(style="background-image: url('/images/alumni.png')")
        h2 alumni
  .school-contact
    .website
      a(href=school.website)=school.website
    .inside-scoop
        h3 get the inside scoop
        input(placeholder='Email address')
        br
        a.btn(href="#") subscribe
        // TODO insert enquiry form; hubspot?
append stylesheets
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css")
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css")

  // if lte IE 8
  script(charset='utf-8', type='text/javascript', src='//js.hsforms.net/forms/v2-legacy.js')
  script(charset='utf-8', type='text/javascript', src='//js.hsforms.net/forms/v2.js')
  script.
 
    var btn = document.createElement("button");
    btn.innerHTML = '&times;';
         
     function eForm(){  
       hbspt.forms.create({
        portalId: '2708822',
        formId: '8e92d188-4259-4263-b5c8-3865663c6f4d',
         onFormReady: closeForm
        });
      };

     function cForm() {
      hbspt.forms.create({
      portalId: '2708822',
      formId: 'ade15aad-d63b-4d3f-a2ab-f418fe9c136f',
      onFormReady: closeForm
      });
      
    }; 


     function closeForm() {
      var form = document.getElementsByClassName("hbspt-form");
      console.log(form[0]);
      form[0].style.display = "block";
      btn.addEventListener("click", function(){
        form[0].style.display = "none";
      });
      form[0].appendChild(btn);
    };
 