extends layouts/layout

block content
  .school-heading-container
    .school-heading
      .school-info
        //- img(src=school.logo)
        h1= school.name
      .school-links.video-link
        i(class="fa fa-play-circle-o fa-3x" aria-hidden="true")
        br
        p(class="video-text") Play Video
  .student-work
    p hello world
  .school-overview-container
    .school-logo
      h1 logo
    .school-overview
      .details-box
        h2 overview
        p=school.overview
        h3 campus location
        ul
            each loc in school.locations
              li=loc.campus
        h3 delivery
        ul
            each delivery in school.delivery
              li=delivery
    .school-fees
      .details-box
        h2 fees scholarship
        h3 price range
        ul
          each price in school.prices
            li
              =`${price.type}:`
              br
              =`AUD ${price.lower} - AUD ${price.upper}`
        h3 scholarship
        ul
          each scholarship in school.scholarships
            li=scholarship
    .school-links
      h1 buttons
  .study-areas

  .grey-bg
    .school-details
      .overview
        h2 overview
        p=school.overview
        a.btn(href=`/school/${school.slug}/courses`) view all courses
        a.btn(href='#' onclick="cForm()") course guide
      .fees-scholarships
        h3 fees scholarship
        h4 price range
        ul
          each price in school.prices
            li
              =`${price.type}:`
              br
              =`AUD ${price.lower} - AUD ${price.upper}`
        h4 scholarship
        ul
          each scholarship in school.scholarships
            li=scholarship
        .campuses
          h3 campus locations
          ul
            each loc in school.locations
              li=loc.campus
        .delivery
          h3 delivery
          ul
            each delivery in school.delivery
              li=delivery
      .study-areas
        h3 study areas
        ul
          each area in school.disciplines
            li=area
  !=Courses
  .other-section
    .locations
      .other-section-box
        h2 locations
    .facilities
      .other-section-box
        h2 facilities
    .alumni
      .other-section-box
        h2 alumni
  !=Lightbox
  .school-locations
    h2.school-details-subheading locations
    p=school.locationDescription
    !=CampusMaps
  .school-facilities
    h2.school-details-subheading facilities
    p=school.facilitiesDescription
    !=Facilities
  .school-alumni
    h2.school-details-subheading alumni
    !=Alumni
  .final-links
    a.btn(href='#' onclick="eForm()") enquire
    a.btn(href='#' onclick="eForm()") apply
append stylesheets
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css")
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css")

  // if lte IE 8
  script(charset='utf-8', type='text/javascript', src='//js.hsforms.net/forms/v2-legacy.js')
  script(charset='utf-8', type='text/javascript', src='//js.hsforms.net/forms/v2.js')
  script.
 
    var btn = document.createElement("button");
    btn.innerHTML = '&times;';
         
     function eForm(){  
       hbspt.forms.create({
        portalId: '2708822',
        formId: '8e92d188-4259-4263-b5c8-3865663c6f4d',
         onFormReady: closeForm
        });
      };

     function cForm() {
      hbspt.forms.create({
      portalId: '2708822',
      formId: 'ade15aad-d63b-4d3f-a2ab-f418fe9c136f',
      onFormReady: closeForm
      });
      
    }; 


     function closeForm() {
      var form = document.getElementsByClassName("hbspt-form");
      console.log(form[0]);
      form[0].style.display = "block";
      btn.addEventListener("click", function(){
        form[0].style.display = "none";
      });
      form[0].appendChild(btn);
    };
 